[submodule "morphsnakes"]
	path = morphsnakes
	url = https://github.com/pmneila/morphsnakes.git
[submodule "tmt"]
	path = tmt
	url = https://github.com/JaneliaSciComp/tmt
[submodule "mouselight_toolbox"]
	path = mouselight_toolbox
	url = https://github.com/MouseLightProject/mouselight_toolbox
