*.h5
*.tif
*.swc
*.json
data/
virtenv/
env/
__pycache__
.idea/workspace.xml
scratch.txt
global.lock
purge.lock
*.stdout
*.stderr
*.stdouterr
20??-??-??
20??-??-??-testing
*.pdf
2019-04-17-reduced-skeleton*
